<ul class="nav-left">
    <!--<li>
        <a href="#"><i class="pf-plaza"></i>我的广场</a>
        <span class="pull-right">兴趣标签 <i class="pf-arrow-down" style="font-size: 11px; font-weight: bold;"></i> </span>
    </li>
    <li>
        <a href="#"><i class="pf-users"></i>朋友圈</a>
    </li>
    <li>
        <a href="#"><i class="pf-albums"></i>我的相册</a>
    </li>
    <li>
        <a href="#"><i class="pf-user-eye"></i>关注</a>
    </li>
    <li>
        <a href="#"><i class="pf-user-speaker"></i>动态消息</a>
    </li>-->
    <li>
        <a ui-sref="base.home.projects.index({criteria:'user_id'})" ng-class="{active:$state.includes('base.home.projects')}"><i class="pf-folder"></i><span>项目学习</span></a>
    </li>
    <li ng-if="$state.includes('base.home.projects')">
        <a ui-sref="base.home.projects.index({criteria:'user_id'})" ng-class="{active:$state.includes('base.home.projects')&&$stateParams.criteria=='user_id'}"><i class="pf-space"></i><span>我创建的PBL</span></a>
    </li>
    <li ng-if="$state.includes('base.home.projects')">
        <a ui-sref="base.home.projects.index({criteria:'actor_id'})" ng-class="{active:$state.includes('base.home.projects')&&$stateParams.criteria=='actor_id'}"><i class="pf-space"></i><span>我参与的PBL</span></a>
    </li>
    <!--<li>-->
        <!--<a href="#"><i class="pf-documents"></i>作业</a>-->
    <!--</li>-->
    <!--<li>
        <a href="#"><i class="pf-course"></i>我的课程</a>
    </li>
    <li>
        <a href="#"><i class="pf-library"></i>我的资源库</a>
    </li>-->
</ul>
