<div class="current-user">
    <div class="user-pic">
        <img ng-src="{{ currentUser|avatar|thumb:'86x86' }}"/>
        <div>
            <span ng-bind="currentUser.realname"></span>
        </div>
    </div>
    <div class="user-console">
        <span ui-sref="base.home.user" ><i class="pf-cog"></i></span>
        <span><i class="pf-message"></i></span>
    </div>
    <div class="hr"></div>
    <div class="user-info">
        <div ng-if="currentUser.type!='Parent'">
            学校：<span ng-bind="currentUser.school.name"></span>
        </div>
        <div>
            身份：<span ng-bind="currentUser.type | typeFilter"></span>
        </div>
    </div>
</div>

