@import "compass/css3";
@import "easy-animation";

@include ea-keyframes(rotation){
  0%{
    @include ea-transform(rotate(0deg));
  }
  100%{
    @include ea-transform(rotate(359deg));
  }
}

@include ea-keyframes(wave){
  0%{
    @include ea-transform(translate3d(0, 0, 0));
  }
  50%{
    @include ea-transform(translate3d(0, -10px, 0));
  }
  99%{
    @include ea-transform(translate3d(0, 0, 0));
  }
}

.rotation{
  display:block;
  margin:0 auto;
  font-size:23px !important;
  width:23px;
  height:23px;
  line-height:23px;
  color:#ccc;
  @include ea-animation(rotation 1s infinite linear);
}

.wave{
  @include ea-animation(wave 2s infinite linear);
}