<div class="register register-disciplines">
    <h3 class="center">第四步 添加学科专业</h3>
    <form class="form-horizontal" ng-submit="vm.save('disciplines',6)">
        <div class="form-group margin-top-12">
            <input type="text" ng-model="vm.user.disciplines" placeholder="输入符合您的学科" on-change="vm.onDisciplines()" et-tags/>
        </div>
        <div class="hr"></div>
        <div class="row">
            <div class="note">选择符合您的学科：</div>
            <span class="block-mini" role="button" ng-repeat="entry in DISCIPLINES track by $index" ng-bind="entry" ng-click="vm.addDiscipline(entry)"></span>
        </div>
        <div class="clearfix"></div>
        <div class="et-modal-footer center">
            <span class="btn btn-gray" ng-click="setStep(3)">上一步</span>
            <button type="submit" class="btn" ng-class="vm.btn()" ng-disabled="!vm.user.type">保存并继续</button>
        </div>
    </form>
</div>