<div class="form-horizontal stage-product">
    <div class="form-group">
        <label for="{{'project[stage_products]['+$index+']'}}" class="control-label">阶段性产品名称：</label>
        <div class="row">
            <input id="{{'project[stage_products]['+$index+']'}}" name="{{'project[stage_products]['+$index+']'}}" type="text" ng-model="vm.product.title" class="form-control"/>
        </div>
    </div>
    <div class="row">
        <span class="btn btn-sm margin-right-10" role="button"
              et-modal="$project=vm.project;$product=vm.product;title='选择产品形态';padding=0;controller='ProductFormsController as vm';src='home/projects/edit/product_forms.html'">选择产品形态</span>
        <span ng-if="vm.product.product_form_id">
            <strong>产品形态：</strong><span ng-bind="vm.product.product_form_id"></span>
        </span>
    </div>
    <div class="hr"></div>
    <span class="btn btn-blue pull-right" ng-click="vm.add()">确定</span>
</div>