<div class="pbl-map" ng-controller="PBLMapController as map">
    <div class="loading" ng-if="!map.isReady"><i class="pf-spinner-2 rotation"></i></div>
    <div class="pbl-map-container" ng-class="{'ready':map.isReady,blur:map.task}" et-resize="map.resize($width)">
        <div class="timeline" ng-style="{width:map.timeline}">
            <div class="helicopter" ng-style="{left:map.progress,opacity:map.showed>-1?.2:1}"><div><i><i></i></i><i></i><i></i><i></i><i><i></i></i><i><i></i></i><i></i></div></div>
            <div class="node" ng-mouseenter="map.show($index,1)" ng-mouseleave="map.show($index,0)" ng-class="{start_at:node.isFirst,end_at:node.isLast,current:node.isCurrent,showed:$index==map.showed}" ng-style="{width:node.width}" ng-repeat="node in map.nodes">
                <div class="point"></div>
                <div class="node-tasks" ng-if="node.tasks.length">
                    <div class="line"></div>
                    <div class="marker"></div>
                    <div class="node-task" ng-style="{height:$index==map.showed?26*node.tasks.length+20:0}">
                        <div ng-repeat="task in node.tasks" ng-click="map.setTask(task)" ng-bind="task.title"></div>
                    </div>
                </div>
                <div class="time" ng-show="map.isShowed(node)" ng-bind="node.date|date:'yyyy年MM月dd日'"></div>
            </div>
            <div class="time-progress" ng-style="{width:map.progress}"></div>
        </div>
    </div>
    <div class="pbl-map-task-container" ng-show="map.task">
        <div class="pbl-back wave" ng-click="map.setTask()"></div>
        <div class="pbl-map-task">
            <h2 ng-bind="map.task.title"></h2>
            <div ng-bind="map.task.description|limitTo:200"></div>
        </div>
    </div>
</div>
