<div class="row">
    <div class="project-list">
        <div class="row case-row">
            <div class="row-title">
                <span class="title" ng-bind="('projectlist.'+vm.criteria)|i18n">我创建的项目</span>
                <span ui-sref="base.home.projects.edit.design" ng-bind="'创建'"
                      ng-if="vm.criteria=='user_id'" class="list-btn btn pf-expand btn-sm"></span>

                <span class="select-btn" ng-class="{active:vm.select.state=='completed'}"
                      ng-click="vm.changeState('completed')"
                      ng-bind="'projecttypes.completed'|i18n"></span>
                <span class="select-btn" ng-class="{active:vm.select.state=='release'}"
                      ng-click="vm.changeState('release')"
                      ng-bind="'projecttypes.release'|i18n"></span>
                <span class="select-btn"  ng-class="{active:vm.select.state=='draft'}"
                      ng-click="vm.changeState('draft')"
                      ng-bind="'projecttypes.draft'|i18n"></span>
                <span class="select-btn"  ng-class="{active:vm.select.state==''}"
                      ng-click="vm.changeState('')"
                      ng-bind="'projecttypes.all'|i18n" ></span>
            </div>
            <div>
                <div class="case-list">
                    <div class="case-item" ng-repeat="project in vm.projects">
                        <div class="item-state">
                            <span ng-class="project.state"></span>
                        </div>
                        <div class="item-pic" ng-click="vm.projectShow(project)">
                            <div class="project-cover">
                                <img ng-src="/images/cover.jpg" ng-if="!project.cover" />
                                <img ng-src="{{project.cover.key|thumb:'290x150'}}" ng-if="project.cover" />
                                <div class="pic-mask">
                                    <span ng-bind-html="project.description"></span>
                                </div>
                            </div>
                        </div>
                        <div class="item-title" ng-click="vm.projectShow(project)">
                            <span ng-bind-html="project.name||'未命名项目'"></span>
                        </div>
                        <div class="item-cont">
                            <div class="item-time">
                                <div>
                                    开始时间: <span ng-bind="project.start_at | date : 'yyyy-MM-dd'"></span>
                                </div>
                                <div>
                                    结束时间: <span ng-bind="project.end_at | date : 'yyyy-MM-dd'"></span>
                                </div>
                            </div>
                            <div class="item-ctrl">
                                <span ng-if="vm.criteria=='user_id'"  ng-click="vm.removeProjects(project)">
                                    <i class="pf-trash-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="case-more">
                        <span ng-click="vm.getProjects()"
                              ng-if="vm.meta.current_page<vm.meta.total_pages">查看更多</span>
                </div>
            </div>
            <div ng-if="!vm.projects.length">
                <div class="loading"><i class="pf-spinner-2 rotation"></i></div>
            </div>
        </div>
    </div>
</div>