@import "compass/css3";

.et-modal{
  .et-modal-overlay{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0, 0, 0, .1);
    -pie-background:rgba(0, 0, 0, .1);
    behavior:url('PIE.htc') \0;
    z-index:10000;
  }

  .et-modal-container{
    position:fixed;
    min-width:200px;
    //max-width:90%;
    min-height:80px;
    //max-height:90%;
    background:#fff;
    @include opacity(0);
    @include transition(.2s ease opacity, .2s ease transform);
    //@include transform(translate3d(0, 0, 0), scale(.3));
    @include box-shadow(0 0 25px 0 rgba(0, 0, 0, .3));
    @include border-radius(4px 4px 0 0);
    behavior:url('PIE.htc') \0;
    z-index:10000;
    &.et-modal-show{
      @include opacity(1);
      //@include transform(scale(1));
    }
    .et-modal-title{
      position:relative;
      font-size:16px;
      line-height:44px;
      padding:0 18px;
      color:#333;
      background:#f8f8f8;
      cursor:default;
      @include background-image(linear-gradient(rgba(255, 255, 255, .15), rgba(255, 255, 255, 0)));
      @include border-radius(4px 4px 0 0);
      behavior:url('PIE.htc') \0;
      .et-modal-destroy{
        $size:30px;
        position:absolute;
        top:50%;
        right:0;
        width:$size;
        height:$size;
        margin-top:-$size/2;
        overflow:hidden;
        cursor:pointer;
        i{
          display:block;
          width:$size;
          height:$size;
          text-align:center;
          line-height:$size;
          color:#000;
          @include opacity(.5);
          @include transition(.5s ease all);
          @include transform(rotate(0deg));
        }
        &:hover{
          i{
            color:#ff0000;
            @include opacity(1);
            @include transform(rotate(360deg));
          }
        }
      }
    }
    .et-modal-content{
      border-top:1px solid #e0e0e0;
    }
    .et-modal-footer{
      padding:12px;
      border-top:1px solid #e0e0e0;
      background:#f9f9f9;
    }
  }
}