.et-tabs{
  &:after{
    content:"";
    display:table;
    clear:both;
  }
  .et-tabs-titles{
    position:relative;
    .et-tabs-title{
      float:left;
      padding:0 12px !important;
      line-height:35px;
      text-align:center;
      color:#999;
      border-bottom:2px solid #e5e5e5;
      cursor:pointer;
      &:hover{
        color:#000;
        border-color:#c7e1ff;
      }
      &.active{
        color:#000;
        font-weight:bold;
        border-color:#216fed;
      }
      [class^='pf-'], [class*=" pf-"]{
        font-size:26px;
      }
    }
  }
  .et-tabs-contents{
    border-top:2px solid #e5e5e5;
    margin-top:-2px;
  }
}