@import "compass/css3";

.et-tags-container{
  .et-tags{
    $height: 21px;
    position:relative;
    padding:0 5px 5px 5px !important;
    cursor:text;
    .et-tags-options{
      position:absolute;
      left:0;
      top:37px;
      min-width:100%;
      z-index:1;
      &.et-top-options{
        top:auto;
        bottom:37px;
      }
      .selection{
        border:1px solid #d9d9d9;
        margin:0 -1px;
        background:#fff;
        white-space:nowrap;
        max-height:300px;
        overflow:auto;
        @include border-radius(3px);
        @include box-shadow(0 0 12px 0 #c0c0c0);
        & > li:before{
          display:none;
        }
        & > li:last-of-type{
          border:none;
        }
      }
    }
    .et-tags-item{
      position:relative;
      float:left;
      background:#a0aabe;
      font-size:12px;
      line-height:$height;
      padding:0 21px 0 6px;
      margin:5px 5px 0 0;
      color:#fff;
      cursor:default;
      @include border-radius(2px);
      i{
        position:absolute;
        right:3px;
        top:3px;
        display:block;
        width:17px;
        height:17px;
        text-align:center;
        line-height:17px;
        cursor:pointer;
      }
      &:hover{
        background:#6598d3;
      }
    }
    .et-tag-input{
      border:none;
      height:$height;
      line-height:$height;
      padding:0 5px;
      margin-top:5px;
      background:transparent;
      &:focus{
        outline:0;
      }
    }
  }
}