@import "compass/css3";

.et-tips{
  position:absolute;
  padding:5px 12px;
  min-width:50px;
  max-width:500px;
  background:#fff;
  text-align:center;
  font-size:12px;
  box-shadow:0 0 15px 0 #9f9f9f;
  @include opacity(.95);
  @include border-radius(3px);
  behavior:url('PIE.htc') \0;
  z-index:99999;
  &.et-tips-block{
    text-align:inherit;
    padding:18px;
  }
  &:before{
    position:absolute;
    content:'';
    display:block;
    width:0;
    height:0;
    right:50%;
    margin-right:-11px;
    border:11px solid #fff;
    border-left-color:transparent;
    border-right-color:transparent;
    border-top:0;
    z-index:2;
    top:-7.5px;
    bottom:-7.5px;
  }
  &:after{
    position:absolute;
    content:'';
    display:block;
  }
  &.black{
    background:#000;
    color:#fff;
    @include opacity(.75);
    &:before{
      border:11px solid #000;
      border-left-color:transparent;
      border-right-color:transparent;
      border-top:0;
    }
  }
}