<div class="form-horizontal">
    <div class="form-group">
        <label for="project[name]" class="control-label">项目名称：</label>

        <div class="row">
            <input type="text" id="project[name]" ng-model="vm.project.name" class="form-control"
                   et-sync="{projectId:vm.project.id,project:{name:vm.project.name},$service:'Projects'}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">请选择1-3条课程标准：</label>
        <span class="btn btn-gray btn-sm" role="button"
              et-modal="$project=vm.project;title='选择课标';padding=0;controller='CurriculumsController as vm';src='home/projects/edit/curriculums.html'"><i
                class="pf-expand"></i> 选择课标</span>
        <div class="row">
            <div class="loading" ng-if="!vm.project.standard_items"><i class="pf-spinner-2 rotation"></i></div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in vm.project.standard_items">
                    <span ng-bind="item.standard_item.content"></span>
                    <i class="btn-mini pf-cross pull-right" ng-click="vm.removeStandardItem(item)"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">请选择本项目中学生需要使用的技能：</label>
        <input type="hidden" ng-model="vm.project.skills"/>
        <span class="btn btn-gray btn-sm" role="button"
              et-modal="$project=vm.project;title='选择技能';padding=0;controller='SkillsController as vm';src='home/projects/edit/technique-selector.html'"><i
                class="pf-expand"></i> 选择技能</span>

        <div class="row">
            <div class="loading" ng-if="!vm.project.techniques"><i class="pf-spinner-2 rotation"></i></div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in vm.project.techniques">
                    <span ng-bind="item.technique.title"></span>
                    <i class="btn-mini pf-cross pull-right" ng-click="vm.removeTechnique(item)"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label for="project[driven_issue]" class="control-label">驱动性问题：</label>

        <div class="row">
            <textarea id="project[driven_issue]" cols="30" rows="5" ng-model="vm.project.driven_issue"
                      class="form-control"
                      et-sync="{projectId:vm.project.id,project:{driven_issue:vm.project.driven_issue},$service:'Projects'}"></textarea>
        </div>
    </div>
<!--
    <div class="form-group">
        高级选项如何设计驱动性问题：（
        <a href="javascript:void(0);" ng-click="vm.showStandardAnalysis()">点击填写
            <span ng-show="vm.switchvmStandardAnalysis">↑</span>
            <span ng-hide="vm.switchvmStandardAnalysis">↓</span>
        </a>
        ）
    </div>
    <div class="form-group" ng-show="vm.switchvmStandardAnalysis">
        <label for="project[standard_analysis]" class="control-label">课标解读：（请填写这些标准对于现实世界的价值，您希望学生从中得到什么理解？）</label>

        <div class="row">
            <textarea id="project[standard_analysis]" name="project[standard_analysis]" cols="30" rows="5"
                      ng-model="vm.project.standard_analysis" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group" ng-show="vm.switchvmStandardAnalysis">
        课标分解：（根据课标对于学生的要求，分解出要做的事情：动词+名词）
        <table class="table table-bordered col-1-1 margin-bottom-8">
            <tr>
                <td class="text-center">动词</td>
                <td class="text-center">名词</td>
                <td class="text-center">现实世界中的角色</td>
                <td class="text-center">现实世界的产品</td>
            </tr>
            <tr ng-repeat="decomposition in vm.project.standard_decompositions">
                <td><input type="text" ng-model="decomposition.verb" class="form-control ng-pristine ng-valid"/></td>
                <td><input type="text" ng-model="decomposition.noun" class="form-control ng-pristine ng-valid"/></td>
                <td><input type="text" ng-model="decomposition.role" class="form-control ng-pristine ng-valid"/></td>
                <td><input type="text" ng-model="decomposition.products" class="form-control ng-pristine ng-valid"/>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="text-center">
                    <span class="btn btn-gray btn-sm control-label" role="button"
                          ng-click="vm.addObjArray(vm.project.standard_decompositions)"><i
                            class="pf-plus"></i>继续添加</span>
                </td>
            </tr>
        </table>
        <div class="col-1-1">
            <strong>考虑规划的学生实现角色和最终产品，匹配选用的技能，缩小最终角色和产品的范围</strong>
        </div>
        <div class="col-1-1">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="decomposition in vm.project.standard_decompositions">
                    <span ng-bind="decomposition.verb"></span>
                    如何
                    <input type="text" ng-model="decomposition.skill"/>
                    <span ng-bind="decomposition.noun"></span>
                    <span ng-bind="decomposition.role"></span>
                    来创建
                    <span ng-bind="decomposition.products"></span>
                    <i class="btn-mini pf-cross pull-right"
                       ng-click="vm.removeObjArray(vm.project.standard_decompositions,decomposition)"></i>
                </li>
            </ul>
        </div>
    </div>
-->
    <div class="form-group block product-final block-yellow">
        <div class="row">
            <span class="btn btn-sm margin-right-6" role="button"
                  et-modal="$project=vm.project;$product=vm.project.final_product;$isFinal=true;title='选择产品形态';padding=0;controller='ProductFormsController as vm';src='home/projects/edit/product_forms.html'"><i class="pf-documents"></i> 选择产品形态</span>
            <span class="btn btn-gray btn-sm" ng-class="{uploading:vm.finalProduct.$uploading}" ng-init="vm.finalProduct=vm.project.final_product" role="button" ng-if="vm.project.final_product"
                  qn-upload="{ownerType:RESOURCE_TYPES.project.product,ownerId:vm.finalProduct.id}"
                  on-begin="vm.onUploadBegin(vm.finalProduct)" on-success="vm.onUploadSuccess(vm.finalProduct)"><i class="pf-cloud-upload"></i> 上传示例</span>
        </div>
        <div class="row margin-top-8" ng-if="vm.finalProduct" et-init="vm.finalProduct.resource=vm.findByOwner(vm.finalProduct.id)">
            <div class="col-1-2">
                <strong>产品形态：</strong>
                <span ng-bind="vm.project.final_product.product_form.name"></span>
            </div>
            <div class="col-1-2" ng-if="vm.project.final_product.resource">
                <strong>产品示例：</strong>
                <a ng-href="{{vm.project.final_product.resource|uri}}" ng-bind="vm.project.final_product.resource.name"></a>
            </div>
        </div>
    </div>
    <!--<div class="form-group">
        <span class="control-label font-size-125">阶段性产品：</span>
        <div ng-repeat="product in vm.project.products" class="row block product-item">
            <input class="form-control" name="{{'project[products]['+$index+']'}}" type="text" ng-model="product.title"
                   et-sync="{productId:product.id,product:{title:product.title},$service:'ProjectProducts'}"/>
            <span class="btn btn-red btn-sm pull-right product-destroy" ng-click="vm.removeProduct(product)">删除</span>
            <div class="row margin-top-8">
                <span class="btn btn-sm margin-right-6" role="button"
                      et-modal="$project=vm.project;$product=product;title='选择产品形态';padding=0;controller='ProductFormsController as vm';src='home/projects/edit/product_forms.html'">选择产品形态</span>
                <span class="btn btn-gray btn-sm" ng-class="{uploading:product.$uploading}" role="button"
                      qn-upload="{ownerType:RESOURCE_TYPES.project.product,ownerId:product.id}"
                      on-begin="vm.onUploadBegin(product)" on-success="vm.onUploadSuccess(product)">上传示例</span>
            </div>
            <div class="col-1-1" et-init="product.resource=vm.findByOwner(product.id)">
                <div class="col-1-2 margin-top-8">
                    <strong>产品形态：</strong>
                    <span ng-bind="product.product_form.name"></span>
                </div>
                <div class="col-1-2 margin-top-8" ng-if="product.resource">
                    <strong>产品示例：</strong>
                    <span ng-bind="product.resource.name"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <span class="btn btn-gray btn-sm" role="button"
                  et-modal="$project=vm.project;title='新增阶段性产品';controller='ProductsController as vm';src='home/projects/edit/products.html'">
                <i class="pf-plus"></i> 新增阶段性产品
            </span>
        </div>
    </div>-->
    <div class="form-group col-1-1">
        <div class="hr"></div>
        <div class="col-1-1 text-right">
            <span class="btn btn-blue" role="button" ng-click="goto('gauges')">下一步</span>
        </div>
    </div>
</div>