<div class="form-horizontal project-gauges">
    <div class="form-group">
        <table class="table grid">
            <thead>
            <tr>
                <th>对应技能</th>
                <th>量规标准</th>
                <th width="60">权重</th>
                <th class="cur-pointer" ng-repeat="column in vm.project.ruleHeads"
                    ng-bind="$index|gauge:vm.project.rule_template"
                    ng-click="vm.setDisabled(!column.disabled,$index)"
                    et-tips="column.disabled?'点击启用该列':'点击禁用该列'"
                    ng-class="{'text-silver':column.disabled}"></th>
                <th class="gauge-btn"
                    et-tips="'设置标头'"
                    et-modal="$project=vm.project;title='选择量规标头';controller='ProjectCreateGaugesTypeController as vm';src='home/projects/edit/gauge-type.html'"><i class="pf-cog"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="gauge in vm.project.rules" class="gauge-item">
                <td ng-bind="gauge.technique.title"
                    class="center cur-pointer"
                    ng-class="{'text-red':vm.notExist(gauge.technique),disabled:gauge._destroy}"
                    et-tips="'该技能已从项目中移除，请选择其它技能或删除该条量规！';disabled=!vm.notExist(gauge.technique)"
                    et-modal="$project=vm.project;$gauge=gauge;title='选择技能';padding=4;controller='TechniqueSelectorController as vm';src='home/projects/edit/techniques.html'"></td>
                <td class="et-gauge" ng-class="{disabled:gauge._destroy}" et-gauge-field>
                    <textarea ng-model="gauge.standard" et-sync="{gaugeId:gauge.id,rule:{standard:gauge.standard},$service:'ProjectGauges'}" spellcheck="false"></textarea>
                </td>
                <td class="et-gauge percentage" ng-class="{disabled:gauge._destroy}" et-gauge-field>
                    <textarea class="center" ng-model="gauge.weight" et-sync="{gaugeId:gauge.id,rule:{weight:gauge.weight},$service:'ProjectGauges'}" spellcheck="false"></textarea>
                </td>
                <td class="et-gauge" ng-class="{disabled:vm.project.ruleHeads[0].disabled||gauge._destroy}" et-gauge-field>
                    <textarea ng-model="gauge.level_1" spellcheck="false" et-sync="{gaugeId:gauge.id,rule:{level_1:gauge.level_1},$service:'ProjectGauges'}" ng-readonly="vm.project.ruleHeads[0].disabled"></textarea>
                </td>
                <td class="et-gauge" ng-class="{disabled:vm.project.ruleHeads[1].disabled||gauge._destroy}" et-gauge-field>
                    <textarea ng-model="gauge.level_2" spellcheck="false" et-sync="{gaugeId:gauge.id,rule:{level_2:gauge.level_2},$service:'ProjectGauges'}" ng-readonly="vm.project.ruleHeads[1].disabled"></textarea>
                </td>
                <td class="et-gauge" ng-class="{disabled:vm.project.ruleHeads[2].disabled||gauge._destroy}" et-gauge-field>
                    <textarea ng-model="gauge.level_3" spellcheck="false" et-sync="{gaugeId:gauge.id,rule:{level_3:gauge.level_3},$service:'ProjectGauges'}" ng-readonly="vm.project.ruleHeads[2].disabled"></textarea>
                </td>
                <td class="et-gauge" ng-class="{disabled:vm.project.ruleHeads[3].disabled||gauge._destroy}" et-gauge-field>
                    <textarea ng-model="gauge.level_4" spellcheck="false" et-sync="{gaugeId:gauge.id,rule:{level_4:gauge.level_4},$service:'ProjectGauges'}" ng-readonly="vm.project.ruleHeads[3].disabled"></textarea>
                </td>
                <td class="et-gauge" ng-class="{disabled:vm.project.ruleHeads[4].disabled||gauge._destroy}" et-gauge-field>
                    <textarea ng-model="gauge.level_5" spellcheck="false" et-sync="{gaugeId:gauge.id,rule:{level_5:gauge.level_5},$service:'ProjectGauges'}" ng-readonly="vm.project.ruleHeads[4].disabled"></textarea>
                </td>
                <td ng-if="gauge._destroy"><i class="pf-spinner-2 rotation"></i></td>
                <td ng-if="!gauge._destroy" class="gauge-btn" et-tips="'删除'" ng-click="vm.remove(gauge);gauge._destroy=true"><i class="pf-trash-o"></i></td>
            </tr>
            <tr ng-if="!vm.project.rules">
                <td colspan="9" class="loading"><i class="pf-spinner-2 rotation"></i></td>
            </tr>
            <tr>
                <td colspan="9" class="gauge-add-btn center"><div et-modal="$project=vm.project;title='选择技能';padding=4;controller='TechniqueSelectorController as vm';src='home/projects/edit/techniques.html'"><i class="pf-plus"></i> 添加一条新的量规</div></td>
            </tr>
            </tbody>
        </table>
        <span class="btn btn-gray margin-top-12" et-modal="$project=vm.project;title='从量规库中导入';controller='GaugesSelectorController as vm';src='home/projects/edit/gauges/index.html'">从量规库中导入</span>
        <div class="hr"></div>
        <div class="col-1-1 text-right">
            <span class="btn btn-blue" role="button" ng-click="goto('info')">下一步</span>
        </div>
    </div>
</div>