<div class="form-horizontal project-info">
    <h3>基本信息填写</h3>
    <div class="upload-cover" et-init="vm.project.cover=vm.findByType(RESOURCE_TYPES.project.cover)" ng-class="{uploading:vm.project.$uploading_cover}"
         qn-upload="{bucket:QINIU.buckets.image,ownerType:RESOURCE_TYPES.project.cover,ownerId:vm.project.id}"
         on-begin="vm.onUploadBegin('cover')" on-success="vm.onUploadSuccess('cover')">
        <img ng-if="vm.project.cover.key" ng-src="{{vm.project.cover.key|thumb:'100x100'}}"/>上传封面</div>
    <div class="form-group-box">
        <div class="form-group">
            <strong class="control-label">项目名称：</strong>
            <span ng-bind="vm.project.name"></span>
        </div>
        <div class="form-group">
            <label class="control-label pull-left">开始时间：</label>
            <div class="input-group dropdown">
                <input type="text" class="form-control center" placeholder="请选择开始时间" ng-value="vm.project.start_at|date:'yyyy-MM-dd'"/>
                <span class="input-group-addon"><i class="pf-calendar"></i></span>
                <div class="dropdown-menu">
                    <datetimepicker ng-model="vm.project.start_at"
                                    datetimepicker-config="{minView:'day'}"
                                    before-render="vm.beforeRender($view,$dates,$upDate)"
                                    on-set-time="vm.onSetTime(newDate)"></datetimepicker>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="project[duration]" class="control-label">课程时长：</label>
            <input type="number" size="5" min="1" class="form-control form-control-st margin-right-6"
                   id="project[duration]" name="project[duration]"
                   ng-model="vm.project.duration"
                   et-sync="{projectId:vm.project.id,project:{duration:vm.project.duration},$service:'Projects'}"/>
            <select et-select="DURATION_UNITS|sliceTo:1" ng-model="vm.project.duration_unit" class="margin-right-6"
                    et-sync="{projectId:vm.project.id,project:{duration_unit:vm.project.duration_unit},$service:'Projects'}"></select>
            <!--<label class="control-label">
                <input type="checkbox" ng-model="vm.project.public"
                       et-sync="{projectId:vm.project.id,project:{public:vm.project.public},$service:'Projects'}"/>
                公开招募
            </label>-->
        </div>
        <div class="form-group block" ng-show="vm.project.public">
            <div class="form-group">
                <label for="project[limitation]" class="control-label">人数限制：</label>
                <input type="number" size="5" min="1" class="form-control form-control-st"
                       id="project[limitation]" name="project[limitation]"
                       ng-model="vm.project.limitation"
                       et-sync="{projectId:vm.project.id,project:{limitation:vm.project.limitation},$service:'Projects'}"/>
            </div>
            <div class="row">
                <label class="control-label">适用区域：</label>
                <span et-region="{data:vm.regions}" on-change="vm.onRegion($regionId)"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">添加标签：</label>
            <div class="row">
                <input type="text" ng-model="vm.project.tag_list" placeholder="请选择标签" on-change="vm.onTagsChange()" et-tags/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">年级：</label>
            <select et-select="GRADES" ng-model="vm.project.grade"
                    et-sync="{projectId:vm.project.id,project:{grade:vm.project.grade},$service:'Projects'}"></select>
        </div>
        <div class="form-group">
            <label class="control-label">项目概述：</label>
            <div class="row">
                <textarea ng-model="vm.project.description" rows="4" class="form-control"
                          et-sync="{projectId:vm.project.id,project:{description:vm.project.description},$service:'Projects'}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">启动文档：</label>
            <span class="btn btn-gray btn-sm" ng-class="{uploading:vm.project.$uploading_doc}"
                  qn-upload="{ownerType:RESOURCE_TYPES.project.document,ownerId:vm.project.id}"
                  on-begin="vm.onUploadBegin('doc')" on-success="vm.onUploadSuccess('doc')"><i class="pf-plus"></i> 新增启动文档</span>
            <div class="row">
                <ul class="files">
                    <li ng-repeat="doc in vm.findByType(RESOURCE_TYPES.project.document,true)" ng-class="{disabled:doc.$disabled}">
                        <i ng-class="doc.name|icon"></i>
                        <span ng-bind="doc.name"></span>
                        <i class="file-download pf-inbox" et-tips="'下载'" et-href="doc|uri:PATHS.static"></i>
                        <i class="file-remove pf-cross" et-tips="'删除'" ng-click="vm.removeDocument(doc)"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h3 class="margin-top-20">选择成员和老师</h3>
    <div class="form-group-box">
        <div class="form-group">
            <label class="control-label">选择成员：</label>
            <span class="btn btn-gray btn-sm"
                  et-modal="$project=vm.project;title='选择项目成员';padding=0;controller='MemberSelectorController as vm';src='home/projects/edit/member-selector.html'">点击选择</span>
        </div>
        <div class="form-group">
            <label class="control-label">指导老师：</label>
            <div class="row">
                <input type="text" ng-model="vm.teachers" placeholder="从好友中查找..." on-add="vm.onTeachersAdd()" on-remove="vm.onTeachersRemove()" et-tags="{options:vm.teachersFilter,template:'home/projects/edit/teacher-selector.html'}"/>
            </div>
            <!--<div class="row" style="position: relative;">
                <i class="pf-search"></i> <input type="text" class="form-control">
            </div>-->
        </div>
    </div>
    <div class="hr"></div>
    <div class="form-group col-1-1">
        <div class="col-1-1 text-right">
            <span class="btn btn-blue" role="button" ng-click="goto('scaffold')">下一步</span>
        </div>
    </div>
</div>
<!--
<div class="input-group margin-top-20 offset-1-12">
    <span><i>现实角色</i><input type="text" placeholder="建筑设计师"/></span>如何 <span><i>使用技能</i><input type="text"
                                                                                               placeholder="建筑设计师"/></span>
    <span><i>动词</i><input type="text" placeholder="建筑设计师设计建"/></span> 创建<span><i>动词</i><input type="text"
                                                                                              placeholder="建筑"/></span><span><i>现实角色</i><input
        type="text" placeholder="建筑设计师"/></span>

</div>
<div class="input-group margin-top-20 offset-1-12">
    <span><input type="text" placeholder="建筑设计师"/></span>如何 <span><input type="text" placeholder="建筑设计师"/></span>
    <span><input type="text" placeholder="建筑设计师设计建"/></span> 创建<span><input type="text"
                                                                            placeholder="建筑"/></span><span><input
        type="text" placeholder="建筑设计师"/></span>

</div>
-->



