<div class="project-scaffold">
    <form class="form-horizontal">
        <div class="form-group">
            <strong class="control-label">项目名称：</strong>
            <a href="javascript:void(0);" ng-click="vm.$info=!vm.$info">
                {{vm.project.name}}
                <i ng-class="vm.$info?'pf-triangle-up':'pf-triangle-down'"></i>
            </a>
            <div ng-if="vm.$info">
                <label class="control-label">驱动问题：</label>
                <div class="control-content" ng-bind="vm.project.driven_issue"></div>
                <label class="control-label">任务分解小贴士：</label>
                <div class="control-content">
                    1.一个任务的学习范围最好限定在2个课标中涉及的知识点和1个现实社会的技能目标。 <br/>
                    2.充分考虑每个任务的要素： <br/>
                    <ul>
                        <li>
                            ● 你希望学生了解的东西
                        </li>
                        <li>
                            ● 课标中要求的学习事项
                        </li>
                        <li>
                            ● 作业：学生如何展示自己对于知识和技能的掌握
                        </li>
                        <li>
                            ● 评估：根据什么标准来评定学生的表现和理解程度
                        </li>
                        <li>
                            ● 学习成果
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">请填写本项目中学生应该掌握的知识：</label>
            <div class="col-1-1">
                <div class="col-8-12">
                    <input type="text" id="project[tempKnowledge]" ng-model="vm.tempKnowledge" class="form-control"/>

                </div>
                <div class="col-4-12">

                    <span class="btn btn-gray" role="button" ng-click="vm.addKnowledge()" ><i class="pf-expand"></i> 新增知识点</span>
               </div>
            </div>
            <div class="col-1-1">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="knowledge in vm.project.knowledges"><span ng-bind="knowledge.description"></span><i class="btn-mini pf-cross pull-right" ng-click="vm.removeKnowledge(knowledge)"></i></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">任务列表：</label>
            <span class="btn btn-gray btn-sm" role="button" et-modal="title='增加任务';$project=vm.project;controller='addTaskController';padding=0;src='home/projects/edit/task-creator.html'"><i class="pf-expand"></i> 增加任务</span>
        </div>
        <div class="loading" ng-if="!vm.tasks"><i class="pf-spinner-2 rotation"></i></div>
        <div class="tasks" ng-repeat="task in vm.tasks">
            <div class="task-title" ng-click="task.$show=!task.$show">
                <i ng-class="task.$show?'pf-triangle-up':'pf-triangle-down'"></i>
                <strong ng-bind="'任务 - '+task.title"></strong>
                <i class="btn-mini pf-cross pull-right margin-top-10" ng-click="vm.removeTask(task,$event)"></i>
            </div>
            <div class="task-content" ng-show="task.$show" ng-include="'home/projects/show/taskform.html'"></div>
        </div>
        <div class="form-group col-1-1" >
            <div class="col-1-1 text-right">
                <span class="btn btn-blue" role="button" ng-click="goto('release')">下一步</span>
            </div>
        </div>
    </form>
</div>