<div class=" col-1-12 user-info">
    <img class="user-pic"  ng-src="{{work.submitter|avatar}}">
    <span class="assignment-state" ng-class="work.state" ng-bind="('worktypes.'+work.state)|i18n"></span>
</div>
<div class="col-11-12 assignment-info">
    <div class="col-1-1">
        <div class="work-content">
            <span class="user-name" ng-bind="work.submitter.username+':'"></span>
            <span ng-bind="work.content"></span>
            <div class="form-group">
                <ul class="files">
                    <li ng-repeat="resource in vm.getResourcesWork(work)" ng-class="{disabled:resource.$disabled}">
                        <i ng-class="resource.name|icon"></i>
                        <span ng-bind="resource.name"></span>
                        <i class="file-download pf-inbox" et-tips="'下载'" et-href="resource|uri:PATHS.static"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <!--<img src="http://dummyimage.com/160x120" alt=""/>-->
            <div class="sns-btn">
                <a > <i class="pf-praise-solid"></i> 评论</a>
                <a > <i class="pf-share"></i> 转发</a>
            </div>
        </div>
        <div class="margin-top-10">
        <span class="btn btn-blue" role="button"
              ng-show="vm.authority&&(work.state==WORK_TYPES.submitted||(work.state==WORK_TYPES.evaluating&&work.lock_by==currentUser.id))"
              et-modal="title='任务评分 '+task.title;$task=task;$work=work;controller='setWorkScoresController';padding=0;src='home/projects/show/workscores-set.html'"> 评分</span>

                <span class="btn btn-blue" role="button"
                      ng-show="work.worker_id==currentUser.id&&work.state==WORK_TYPES.submitted"
                      ng-click="vm.workAction(work,WORK_TYPES.working)">修改</span>
        <span class="btn btn-gray" role="button"
              ng-show="vm.authority&&work.state==WORK_TYPES.working"
              > 评分</span>

        <span class="btn btn-blue" role="button"
               ng-if="work.state==WORK_TYPES.evaluated"
               et-modal="title='查看评分 '+task.title;$task=task;$work=work;controller='viewWorkScoresController';padding=0;src='home/projects/show/workscores-view.html'">评分详情</span>

        </div>

        <div class="assignment-time">
            提交于<span ng-bind="vm.dateFormat(work.submit_at)"></span>
        </div>
        <div class="group-list col-1-1" ng-if="work.acceptor_type==TYPE_DEFIN.Group">
            <div class="col-1-12">小组成员：</div>
            <div class="col-11-12">
                <span class="group-user evaluated" ng-if="work.userScores[user.id].id" ng-repeat="user in work.usersHash"
                      et-tips="delay=150;black=false;$user=user;$work=work;src='home/projects/show/workscore-tip.html'">
                    <img class="user-pic"  ng-src="{{user|avatar}}">
                </span>
                <span class="group-user " ng-if="!work.userScores[user.id].id" ng-repeat="user in work.usersHash">
                    <img class="user-pic"  ng-src="{{user|avatar}}">
                </span>
            </div>
        </div>
        <div class="assignment-score " ng-class="{'operated':work.scores}" ng-if="work.acceptor_type==TYPE_DEFIN.User">
            <span class="remark" ng-bind="work.scores.comment||'老师评分'"></span>
            <span class="score"  ng-bind="work.scores.score||'分数'"></span>
        </div>
    </div>
</div>
<div class="clearfix"></div>