<div class="form-horizontal task-form">
    <div class="col-1-1 tasks-group-item-form" ng-show="vm.project.state=='draft'||addTask">
        <label class="control-label">任务名称：</label>
        <div class="col-1-1">
            <input type="text"  ng-model="task.title" class="form-control" et-sync="{taskId:task.id,task:{title:task.title},$service:'Tasks',$disabled:!task.id}"/>
        </div>
    </div>
    <div class="col-1-1 tasks-group-item-form">
        <label class="control-label">任务描述：</label>
        <div class="col-1-1">
            <textarea  cols="30" rows="5" ng-model="task.description" class="form-control" et-sync="{taskId:task.id,task:{description:task.description},$service:'Tasks',$disabled:!task.id}"></textarea>
        </div>
    </div>
    <div class="col-1-1 tasks-group-item-form">
        <label class="control-label">场地：</label>
        <div class="col-1-1">
            <input type="text"  ng-model="task.site" class="form-control" et-sync="{taskId:task.id,task:{site:task.site},$service:'Tasks',$disabled:!task.id}"/>
        </div>
    </div>
    <div class="col-1-1 tasks-group-item-form">
        <label class="control-label">任务类型：</label>
        <div class="col-1-1 margin-bottom-8">
            <span class="btn" ng-class="{'btn-blue':task.task_type==TYPE_DEFIN.Discipline,'btn-gray':task.task_type!=TYPE_DEFIN.Discipline}" role="button" ng-click="vm.chooseType(task,TYPE_DEFIN.Discipline,!task.id)">学科考评型</span>
            <span class="btn  margin-left-8 margin-right-8" ng-class="{'btn-blue':task.task_type==TYPE_DEFIN.Skill,'btn-gray':task.task_type!=TYPE_DEFIN.Skill}" role="button" ng-click="vm.chooseType(task,TYPE_DEFIN.Skill,!task.id)">技能考评型</span>
        </div>
    </div>

    <div class="col-1-1 tasks-group-item-form" ng-show="task.task_type==TYPE_DEFIN.Discipline">
        <div class="col-1-1">
            <label class=" col-2-12 control-label">学科：</label>
            <div class="col-10-12">
                <select ng-model="task.discipline_id" et-select="vm.disciplines" et-config="label='name';top=!task.id"
                        et-sync="{taskId:task.id,task:{discipline_id:task.discipline_id},$service:'Tasks',$disabled:!task.id}"></select>
            </div>
        </div>
    </div>

    <div class="col-1-1 tasks-group-item-form margin-top-8 margin-bottom-8  " ng-show="vm.project.state=='release'&&(!addTask)">
        <div class="col-1-1">
            <label class=" col-2-12 control-label">参与组：</label>
            <div class="col-10-12 checklabel">
                <label ng-repeat="group in vm.groups">
                    <input type='checkbox' ng-checked="vm.groupcheck(group.id,task.discussion_ids)"
                            ng-click="vm.groupclick(group.id,task)">
                    <span ng-bind="group.full_name"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-1-1 tasks-group-item-form margin-top-8 margin-bottom-8  " ng-show="vm.project.state=='release'&&(!addTask)">
        <div class="col-1-1">
            <label class=" col-2-12 control-label">作业递交方式：</label>
            <div class="col-10-12">
                <span class="btn" ng-class="{'btn-blue':task.submit_way==TYPE_DEFIN.Group,'btn-gray':task.submit_way!=TYPE_DEFIN.Group}" role="button" ng-click="vm.chooseSubmitWay(task,TYPE_DEFIN.Group,disabled)">每组一份</span>
                <span class="btn  margin-left-8 margin-right-8" ng-class="{'btn-blue':task.submit_way==TYPE_DEFIN.User,'btn-gray':task.submit_way!=TYPE_DEFIN.User}" role="button" ng-click="vm.chooseSubmitWay(task,TYPE_DEFIN.User,disabled)">每人一份</span>
            </div>
        </div>
    </div>
    <div class="col-1-1 tasks-group-item-form margin-top-8 margin-bottom-8  " ng-show="vm.project.state=='release'&&(!addTask)">
        <div class="col-1-1">
            <label class="col-2-12 control-label">任务开始时间：</label>
            <div class="input-group dropdown">
                <input type="text" class="form-control center" placeholder="请选择开始时间" ng-value="task.start_at|date:'yyyy-MM-dd HH:mm'"/>
                <span class="input-group-addon"><i class="pf-calendar"></i></span>
                <div class="dropdown-menu">
                    <datetimepicker ng-model="task.start_at"
                                    before-render="vm.beforeRender($view,$dates,$upDate)"
                                    on-set-time="vm.onSetTime(newDate,task)"></datetimepicker>
                </div>
            </div>
        </div>
    </div>

    <div class="col-1-1 margin-bottom-8 margin-top-8 tasks-group-item-form">
        <label class=" col-2-12 control-label">任务时长：</label>
        <div class="col-10-12">
            <input style="width: 100px; display: inline-block"  type="number"  ng-model="task.evaluation_duration" class="form-control input-duration" et-sync="{taskId:task.id,task:{evaluation_duration:task.evaluation_duration},$service:'Tasks',$disabled:!task.id}"/>
            <select ng-model="task.evaluation_cycle" et-select="DURATION_UNITS" et-config="top=!task.id"
                    et-sync="{taskId:task.id,task:{evaluation_cycle:task.evaluation_cycle},$service:'Tasks',$disabled:!task.id}"></select>
        </div>
    </div>
    <div class="col-1-1" ng-show="task.task_type==TYPE_DEFIN.Skill">
        <div class="col-1-1 tasks-group-item-form">
            <label class="control-label">对应量规：</label>
            <div class="offset-2-12 col-10-12">
                <table class="table bg-white" ng-if="task.rules">
                    <thead>
                    <tr>
                        <th>对应技能</th>
                        <th>量规标准</th>
                        <th width="60">权重</th>
                        <th ng-repeat="column in vm.project.ruleHeads" ng-if="!column.disabled"
                            ng-bind="$index|gauge:vm.project.rule_template"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="gauge in task.rules track by $index" class="gauge-item">
                        <td ng-bind="gauge.technique.title"></td>
                        <td ng-bind="gauge.standard"></td>
                        <td class="center"><span ng-bind="gauge.weight"></span><span class="text-silver font-size-75">%</span></td>
                        <td ng-repeat="column in vm.project.ruleHeads" ng-if="!column.disabled" ng-bind="gauge['level_'+($index+1)]"></td>
                        <td ng-if="gauge._destroy"><i class="pf-spinner-2 rotation"></i></td>
                    </tr>
                    <tr ng-if="!task.rules">
                        <td colspan="8" class="loading"><i class="pf-spinner-2 rotation"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-1-1 tasks-group-item-form">
            <div class="offset-2-12 col-10-12">
                <span class="btn btn-gray margin-top-12" et-modal="$project=vm.project;width='80%';$task=task;title='从量规库中导入';src='home/projects/edit/gauges/task.html'">从量规库中导入</span>
            </div>
        </div>
    </div>

    <div class="col-1-1 tasks-group-item-form margin-top-8 margin-bottom-8  ">
        <div class="col-1-1">
            <label class=" col-2-12 control-label">最终成果：</label>
            <div class="col-10-12 checklabel">
                <label><input type="radio"
                              ng-value="true" ng-model="task.final"
                              ng-change="vm.finalpost(task)"
                        >是</label>
                <label><input type="radio"
                              ng-value="false" ng-model="task.final"
                              ng-change="vm.finalpost(task)"
                              >否</label>
            </div>
        </div>
    </div>
    <div class="form-group" ng-if="task.id">
        <strong class="control-label col-2-12">任务资源：</strong>
            <span class="btn btn-gray btn-sm" ng-class="{uploading:task.$uploading}" role="button"
                  qn-upload="{ownerType:RESOURCE_TYPES.project.task,ownerId:task.id}"
                  on-begin="vm.onUploadBegin(task)" on-success="vm.onUploadSuccess(task)"><i class="pf-cloud-upload"></i> 上传示例</span>
        <div class="row offset-2-12 col-10-12">
            <ul class="files">
                <li ng-repeat="resource in vm.getResources(task)" ng-class="{disabled:resource.$disabled}">
                    <i ng-class="resource.name|icon"></i>
                    <span ng-bind="resource.name"></span>
                    <i class="file-download pf-inbox" et-tips="'下载'" et-href="resource|uri:PATHS.static"></i>
                    <i class="file-remove pf-cross" et-tips="'删除'" ng-click="vm.removeResource(resource)"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-1-1 margin-bottom-8 margin-top-8 tasks-group-item-form text-right" ng-show="vm.project.state=='release'&&(!addTask)">
        <span class="btn btn-blue" role="button" ng-click="vm.releaseTask(task,$event)">发布任务</span>
    </div>

    </div>
    <div class="clearfix"></div>
</div>