<div class="wrokscores"  et-scrollbar>
    <div class="col-1-1 tasks-group-item-form margin-top-8 margin-bottom-8  ">
        <div class="col-1-1">
            <label class=" col-1-8 control-label">任务描述：</label>
            <div class="col-7-8">
                <span ng-bind="task.description"></span>
            </div>
        </div>
    </div>
    <div class="col-1-1 tasks-group-item-form margin-top-8 margin-bottom-8  ">
        <div class="col-1-1">
            <label class=" col-1-8 control-label">作业内容：</label>
            <div class="col-7-8">
                <span ng-bind="work.content"></span>
                <ul class="files">
                    <li ng-repeat="resource in vm.getResourcesWork(work)" ng-class="{disabled:resource.$disabled}">
                        <i ng-class="resource.name|icon"></i>
                        <span ng-bind="resource.name"></span>
                        <i class="file-download pf-inbox" et-tips="'下载'" et-href="resource|uri:PATHS.static"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="group-list col-1-1" ng-if="work.acceptor_type==TYPE_DEFIN.Group">
        <div class="col-1-8">小组成员：</div>
        <div class="col-7-8">
                <span class="group-user " ng-class="{evaluated:work.userScores[user.id].id, active:user.$active}"
                      ng-repeat="user in work.usersHash"
                        ng-click="clickUser(user,work.usersHash)">
                    <img class="user-pic"  ng-src="{{user|avatar}}">
                </span>
        </div>
    </div>
    <div class="col-1-1" ng-show="task.task_type==TYPE_DEFIN.Skill">
        <div class="tasks-group-item-form">
            <label class="col-1-8 control-label">对应量规：</label>
            <div class="col-7-8">
                <table class="table bg-white" ng-if="task.rules">
                    <thead>
                    <tr>
                        <th>量规标准</th>
                        <th width="60">权重</th>
                        <th>得分</th>
                        <th ng-repeat="column in vm.project.ruleHeads" ng-if="!column.disabled"
                            ng-bind="$index|gauge:vm.project.rule_template"></th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="gauge in task.rules" >
                        <tr class="gauge-item">
                            <td rowspan="2" ng-bind="gauge.standard"></td>
                            <td rowspan="2" class="center "><span ng-bind="gauge.weight"></span><span class="text-silver font-size-75">%</span></td>
                            <td rowspan="2">
                                <span ng-bind="current.gaugescore[gauge.id]"></span>
                            </td>
                            <td ng-repeat="column in vm.project.ruleHeads" ng-if="!column.disabled" ng-bind="gauge['level_'+($index+1)]"></td>
                        </tr>
                        <tr class="gauge-item">
                            <td colspan="{{ruleHeadsLength(vm.project.ruleHeads)}}">
                                <span ng-bind="current.gaugecomment[gauge.id]"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-1-1 tasks-group-item-form margin-top-8 margin-bottom-8  ">
        <div class="col-1-1">
            <label class=" col-1-8 control-label">综合评价：</label>
            <div class="col-7-8 ">
                <span class="scorecomment" ng-bind="current.comment"></span>
            </div>
        </div>
    </div>
    <div class="col-1-1 tasks-group-item-form margin-top-8 margin-bottom-8  ">
        <div class="col-1-1">
            <label class=" col-1-8 control-label">评分：</label>
            <div class="col-7-8  control-label">
                <span class="redtab">{{current.score}}</span>
                /
                <span >{{current.total}}</span>
            </div>
        </div>
    </div>
</div>