<div class="group-posts">
    <div class="group-header">
        <div class="pull-left">
            <div class="group-name">
                <strong ng-bind="vm.group|group"></strong>
                <div class="group-edit">
                    <i class="pf-edit"></i>
                    <ul class="mini-menu">
                        <li ng-if="vm.isCreator(currentUser.id)"
                            et-modal="@group=vm.group;title='编辑群组';controller='GroupEditController as vm';src='groups/edit.html'">编辑群组</li>
                        <li ng-if="!vm.isCreator(currentUser.id)" ng-click="vm.leave()" ng-bind="vm.group.clazz?'退出班级':'退出群组'"></li>
                        <li ng-if="!vm.group.clazz&&vm.isCreator(currentUser.id)" ng-click="vm.remove()">删除群组</li>
                    </ul>
                </div>
            </div>
            <div class="group-no">群号：<span ng-bind="vm.group.no"></span></div>
        </div>
        <div class="pull-right">
            <div class="group-code">邀请码：<span ng-bind="vm.group.code||vm.group.clazz.code"></span><i class="pf-refresh" ng-click="vm.regenerate()" et-tips="'重新生成邀请码'"></i></div>
            <div class="group-nav">
                <a ui-sref="base.home.groups.show.posts({groupId:vm.group.id})"
                   ng-class="{active:$state.includes('base.home.groups.show.posts')}">群动态</a>
                <span class="space-x">|</span>
                <a ui-sref="base.home.groups.show.members({groupId:vm.group.id})"
                   ng-class="{active:$state.includes('base.home.groups.show.members')}">群成员</a>
            </div>
        </div>
    </div>
    <div ui-view></div>
</div>