<div class="gauges-list scrollbar" ng-controller="GaugeRecommendsController as vm" et-scrollbar>
    <div ng-if="!vm.techniques" class="loading margin-top-16"><i class="pf-spinner-2 rotation"></i></div>
    <div ng-if="vm.techniques&&!vm.techniques.length" class="center text-red margin-top-16">没有找到与选择技能相匹配的量规</div>
    <div class="row" ng-repeat="technique in vm.techniques">
        <h3 ng-bind="getTechnique(technique).technique.title"></h3>
        <table class="table grid">
            <thead>
            <tr>
                <th width="30">&nbsp;</th>
                <th>量规标准</th>
                <th width="60">权重</th>
                <th ng-repeat="level in project.ruleHeads track by $index" ng-if="!level.disabled" ng-bind="$index|gauge:project.rule_template"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="gauge in technique.gauges" class="gauge-item">
                <td class="center padding-6"><input type="checkbox" ng-model="gauge.selected" ng-change="onChange(gauge)" ng-init="gauge.selected=isSelected(gauge)"/></td>
                <td ng-bind="gauge.standard"></td>
                <td class="center" ng-bind="gauge.weight"></td>
                <td ng-repeat="level in project.ruleHeads" ng-if="!level.disabled" ng-bind="gauge['level_'+($index+1)]"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>