<div ng-controller="GroupsListController as vm">
    <div class="sns-search" ng-class="{focusin:vm.focus}">
        <i class="pf-search"></i>
        <input type="text" ng-model="vm.keyword" ng-focus="vm.focus=1" ng-blur="vm.focus=0" placeholder="快速查找我的群组..."/>
        <div class="sns-action">
            <i class="pf-plus"></i>
            <ul class="mini-menu">
                <li et-modal="title='创建群组';controller='GroupEditController as vm';src='groups/edit.html'">创建群组</li>
                <li et-modal="title='加入群组';controller='GroupJoinController as vm';src='groups/join.html'">加入群组</li>
            </ul>
        </div>
    </div>
    <ul class="sns-list scrollbar scrollbar-macosx" et-scrollbar>
        <li ng-repeat="group in groups" ng-show="vm.filter(group)" ng-click="$state.go('base.home.groups.show.posts',{groupId:group.id});HANDLES.scrollTop()">
            <img ng-src="{{group|avatar:'30x30'}}" class="avatar"/>
            <span ng-bind="group|group"></span>
        </li>
    </ul>
</div>