<div class="project-show-assignment project-scaffold">
    <div class="project-title col-1-1 ">
        <span class="title-text">作业评价</span>
        <span class="title-pointer"></span>
    </div>

    <div class="task-list col-1-1 margin-bottom-20">
        <div class="col-1-1 tasks-group">
            <div class="tasks tasks-group-item" ng-repeat="task in vm.tasks">
                <div class="task-title" ng-click="task.$show=!task.$show">
                    <i ng-class="task.$show?'pf-triangle-up':'pf-triangle-down'"></i>
                    <strong ng-bind="'任务 - '+task.title"></strong>
                </div>

                <div class="tasks-group-item-cont" ng-show="task.$show">
                    <div class="" ng-include="'home/projects/show/taskview.html'"></div>
                    <hr class="margin-top-8 margin-bottom-8"/>
                    <div class="col-1-1 tasks-group-item-form margin-top-8 margin-bottom-8 assignment-list ">
                        <div class="col-1-1">
                            <label class=" col-1-8 control-label">作业状态：</label>
                            <div class="col-7-8">
                                已经提交 <span class="red"
                                           ng-bind="vm.workssubmitted(task)"></span> 份
                                <span  ng-if="vm.authority">，未批改
                                    <span class="red" ng-bind="''+task.worksHash[WORK_TYPES.submitted].length+''"></span>份</span>

                                <!--<span class="btn btn-xs red margin-left-10">交作业提醒</span>-->
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr/>
                        <div class="col-1-1 assignment-item" ng-repeat="work in task.worksHash['self'] track by $index">
                            <ng-include src="'home/projects/show/assignmentview.html'" ng-if="work.state==WORK_TYPES.submitted||work.state==WORK_TYPES.evaluating||work.state==WORK_TYPES.evaluated"></ng-include>
                            <ng-include src="'home/projects/show/assignmentform.html'" ng-if="work.state==WORK_TYPES.working||work.state==WORK_TYPES.opening"></ng-include>
                        </div>
                        <div class="col-1-1 assignment-item" ng-repeat="work in task.worksHash[WORK_TYPES.submitted] track by $index">
                            <ng-include src="'home/projects/show/assignmentview.html'"></ng-include>
                        </div>
                        <div class="col-1-1 assignment-item" ng-repeat="work in task.worksHash[WORK_TYPES.working] track by $index">
                            <ng-include src="'home/projects/show/assignmentview.html'"></ng-include>
                        </div>
                        <div class="col-1-1 assignment-item" ng-repeat="work in task.worksHash[WORK_TYPES.evaluating] track by $index">
                            <ng-include src="'home/projects/show/assignmentview.html'"></ng-include>
                        </div>
                        <div class="col-1-1 assignment-item" ng-repeat="work in task.worksHash[WORK_TYPES.evaluated] track by $index">
                            <ng-include src="'home/projects/show/assignmentview.html'"></ng-include>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>