<div class="project-show-members">
    <div class="project-title col-1-1 ">
        <span class="title-text">项目成员</span>
        <span class="title-pointer"></span>
    </div>
    <div class="col-1-1" ng-if="!vm.members">
        <div class="loading"><i class="pf-spinner-2 rotation"></i></div>
    </div>
    <div ng-show="!!vm.members">
        <div class="col-1-1 margin-top-20">
            <div class="left col-3-4">
                <strong>小组数量：</strong>
                <span ng-if="vm.released"><strong ng-bind="vm.count"></strong> 组</span>
                <input type="number" ng-model="vm.count" ng-if="!vm.released" min="1" class="form-control" ng-disabled="vm.released"/>
            </div>
            <div class="text-right col-1-4">
                <span class="btn btn-gray margin-right-6" ng-class="{disabled:!vm.count||!vm.members.length}" ng-show="!vm.released" ng-click="vm.grouping(vm.count)">自动分组</span>
                <span class="btn btn-gray" ng-if="!vm.released"
                      et-modal="$project=vm.project;title='选择项目成员';padding=0;controller='MemberSelectorController as vm';src='home/projects/edit/member-selector.html'">选择成员</span>
            </div>
        </div>
        <div class="col-1-1 margin-top-20 et-dropzone">
            <table class="table margin-bottom-20" ng-class="{disabled:vm.released}">
                <tr ng-if="!vm.released">
                    <td class="head">未分组成员</td>
                    <td>
                        <div class="row et-drop">
                            <div class="note center text-red lh-35" ng-if="vm.members&&!vm.members.length">项目中没有任何成员</div>
                            <div class="note center text-green lh-35" ng-if="vm.grouped()">成员已全部分组</div>
                            <div class="col-1-4 member et-drag" on-begin="vm.onBegin()" on-dropped="vm.onDropped(member.user.id,$target)" ng-repeat="member in vm.members"
                                 ng-show="!vm.isGrouped(member)" ng-class="{disabled:member.$disabled}" et-hover>
                                <img ng-src="{{member.user|avatar}}"/>
                                <span ng-bind="member.user.username"></span>
                                <i class="pf-cross" et-tips="'从项目中移除该成员'" ng-click="vm.destroy(member,$event)"></i>
                            </div>
                            <div class="col-1-4 placeholder"><i class="pf-plus"></i></div>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="group in vm.groups">
                    <td class="head" ng-bind="group.name+group.no"></td>
                    <td>
                        <div class="row et-drop" drop="group">
                            <div class="col-1-4 member et-drag" on-begin="vm.onBegin(group)" on-dropped="vm.onDropped(user_id,$target)" ng-repeat="user_id in group.members track by $index"
                                 et-hover>
                                <img ng-src="{{vm.getUser(user_id,group)|avatar}}"/>
                                <span ng-bind="vm.getUser(user_id,group).username"></span>
                                <i class="pf-cross" et-tips="'从分组中移除该组员'" ng-click="vm._destroy(group,user_id,$event)"></i>
                            </div>
                            <div class="col-1-4 placeholder"><i class="pf-plus"></i></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-1-1 margin-bottom-20 text-right">
            <span class="btn btn-blue" ng-if="!vm.released" ng-click="vm.release()">发布分组</span>
        </div>
    </div>
</div>