<div class="project-show-resources">
    <div class="project-title">
        <span class="title-text">项目资源</span>
        <span class="title-pointer"></span>
    </div>
    <div class="head">
        <span class="btn btn-gray" et-modal="$project=vm.project;$discussions=vm.discussions;$tasks=vm.tasks;title='资源上传';controller='ResourceUploaderController as vm';src='home/projects/show/upload.html'">上传资源</span>
        <div class="pull-right" et-init="vm.task=psvm.$task.id">
            <select class="margin-right-6" ng-model="vm.discussion" et-select="vm.discussions" et-config="optional=true;label='full_name';placeholder='全部小组'"></select>
            <select class="margin-right-6" ng-disabled="psvm.$task.id" ng-model="vm.task" et-select="vm.tasks" et-config="optional=true;placeholder='全部任务'"></select>
            <span class="search">
                <i class="pf-search"></i>
                <input type="text" ng-model="vm.keyword" placeholder="按文件名查找资源..."/>
            </span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="hr"></div>
    <div class="loading" ng-if="!vm.loaded"><i class="pf-spinner-2 rotation"></i></div>
    <div class="text-red center" ng-if="vm.loaded&&(vm.resources|isEmpty)">项目里还没有上传任何资源...</div>
    <ul class="files margin-bottom-20">
        <li ng-repeat="resource in vm.resources" ng-show="vm.show(resource)" ng-class="{disabled:doc.$disabled}">
            <i ng-class="resource.name|icon"></i>
            <span ng-bind="resource.name"></span>
            <i class="file-download pf-inbox" et-tips="'下载'" et-href="resource|uri:PATHS.static"></i>
            <i class="file-remove pf-cross" et-tips="'删除'" ng-click="vm.removeDocument(resource)"></i>
        </li>
    </ul>
</div>