<div class="project-show-scaffold project-scaffold">
    <div class="project-title col-1-1 ">
        <span class="title-text">教学任务</span>
        <span class="title-pointer"></span>
    </div>
    <div class="col-1-1" ng-if="!vm.tasks"><div class="loading"><i class="pf-spinner-2 rotation"></i></div></div>
    <div ng-show="!psvm.$task">
        <div class="task-list col-1-1 margin-bottom-20">
            <div class="col-1-1 tasks-group">
                <div class="tasks" ng-repeat="task in vm.tasks">
                    <div class="task-title" ng-click="task.$show=!task.$show">
                        <i ng-class="task.$show?'pf-triangle-up':'pf-triangle-down'"></i>
                        <strong ng-bind="'任务 - '+task.title"></strong>
                        <i class="btn-mini pf-cross pull-right margin-top-10" ng-click="vm.removeTask(task,$event)"
                                ng-if="vm.authority"></i>
                    </div>
                    <div class="task-content" ng-if="vm.authority" ng-show="task.$show" ng-include="'home/projects/show/taskform.html'"></div>
                    <div class="task-content" ng-if="!vm.authority" ng-show="task.$show"  ng-include="'home/projects/show/taskview.html'"></div>
                </div>
            </div>
        </div>
        <div class="col-1-1 col-1-1 margin-top-20 margin-bottom-20 text-right">
            <span class="btn btn-blue btn-padding" role="button" ng-show="vm.authority"
                  et-modal="title='增加任务';$project=vm.project;controller='addTaskController';padding=0;src='home/projects/edit/task-creator.html'"><i class="pf-expand"></i> 增加任务</span>
        </div>
    </div>
    <div ng-if="psvm.$task" ng-show="task" et-init="task=vm.getTask(psvm.$task)" ng-include="'home/projects/show/taskform.html'"></div>
</div>