<div class="project-show-scaffold">
    <div class="project-title col-1-1 ">
        <span class="title-text">分析报告</span>
        <span class="title-pointer"></span>
    </div>
    <div class="col-1-1">
        <div class="col-1-2 padding-20">
            <canvas class="chart chart-radar" width="100" height="100" data="vm.data" options="vm.options" labels="vm.labels"></canvas>
        </div>
        <div class="col-1-2 padding-20">
            <canvas class="chart chart-line" width="300" height="300" data="vm.data" options="vm.options" labels="vm.labels"></canvas>
        </div>
    </div>
</div>