<div class="project-controller">
    <div id="index" class="container" et-init="vm.project.cover=vm.getResources(RESOURCE_TYPES.project.cover,vm.project.id,true)">
        <div class="project-info">
            <div class="project-pic">
                <div class="project-cover">
                    <img ng-src="/images/cover.jpg" ng-if="!vm.project.cover" width="348" height="185" />
                    <img ng-src="{{vm.project.cover.key|thumb:'348x185'}}" ng-if="vm.project.cover" />
                </div>
                <div class="project-btn">
                    <span class="btn" role="button">引用项目</span>
                    <span class="btn" role="button">导出PDF</span>
                </div>
            </div>
            <div class="project-intro col-7-12">
                <strong class="project-title"><span ng-bind-html="vm.project.name||'未命名项目'"></span></strong><br/>
                <strong>课程时长：</strong><span ng-bind="vm.project.duration + (vm.project.duration_unit|unit)"></span><br/>
                <strong>学科标签：</strong><span class="tag" ng-repeat="tag in vm.project.tag_list track by $index" ng-bind="tag"></span><br/>
                <strong>参与人数：</strong><span class="tag" ng-bind="'tag'+'人'"></span><strong>分组数量：</strong><span class="tag" ng-bind="'tag'+'组'"></span><br/>
                <strong>项目概述：</strong>
                <div class="row" ng-bind-html="vm.project.description||'尚未填写项目概述'" ng-class="{'text-red':!vm.project.description}"></div>

            </div>
        </div>
        <div class="row project-details">
            <div class="project-tab col-3-4">
                <div class="row project-select info-tab-btn">
                    <div class="select-title">
                        <span class="select-tab" ng-click="vm.infoTab(1)" ng-class="{'active':vm.tab==1}">项目简介</span>
                        <span class="select-tab" ng-click="vm.infoTab(2)" ng-class="{'active':vm.tab==2}">教学任务</span>
                    </div>
                </div>
                <div class="info-tab-cont col-1-1">
                    <div ng-show="vm.tab==1">
                        <div class="info-cont-row">
                            <strong>驱动性问题：</strong>
                            <div class="row" ng-bind-html="vm.project.driven_issue||'尚未填写驱动性问题'"></div>
                        </div>
                        <div class="info-cont-row">
                            <strong>课程标准：</strong>
                            <table class="table col-1-1 margin-bottom-20">
                                <thead>
                                <tr>
                                    <th width="130">学科</th>
                                    <th width="150">学段</th>
                                    <th>课标</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="entry in vm.project.standard_items">
                                    <td ng-bind="entry.standard_item.parents.subject.name"></td>
                                    <td ng-bind="entry.standard_item.parents.phase.name"></td>
                                    <td ng-bind="entry.standard_item.content"></td>
                                </tr>
                                <tr ng-if="!vm.project.standard_items">
                                    <td colspan="3" class="loading"><i class="pf-spinner-2 rotation"></i></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="info-cont-row">
                            <strong>学生技能：</strong>
                            <table class="table col-1-1 margin-bottom-20">
                                <thead>
                                <tr>
                                    <th width="130">技能种类</th>
                                    <th width="150">分类</th>
                                    <th>技能</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="entry in vm.project.techniques">
                                    <td ng-bind="entry.technique.parents.category.name"></td>
                                    <td ng-bind="entry.technique.parents.sub_category.name"></td>
                                    <td ng-bind="entry.technique.title"></td>
                                </tr>
                                <tr ng-if="!vm.project.techniques">
                                    <td colspan="3" class="loading"><i class="pf-spinner-2 rotation"></i></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="info-cont-row">
                            <strong>项目量规：</strong>
                            <table class="table col-1-1 margin-bottom-20">
                                <thead>
                                <tr>
                                    <th>对应技能</th>
                                    <th>量规标准</th>
                                    <th width="60">权重</th>
                                    <th ng-repeat="column in vm.project.ruleHeads" ng-if="!column.disabled"
                                        ng-bind="$index|gauge:vm.project.rule_template"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="gauge in vm.project.rules" class="gauge-item">
                                    <td ng-bind="gauge.technique.title"></td>
                                    <td ng-bind="gauge.standard"></td>
                                    <td class="center"><span ng-bind="gauge.weight"></span><span class="text-silver font-size-75">%</span></td>
                                    <td ng-repeat="column in vm.project.ruleHeads" ng-if="!column.disabled" ng-bind="gauge['level_'+($index+1)]"></td>
                                    <td ng-if="gauge._destroy"><i class="pf-spinner-2 rotation"></i></td>
                                </tr>
                                <tr ng-if="!vm.project.rules">
                                    <td colspan="8" class="loading"><i class="pf-spinner-2 rotation"></i></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="info-cont-row">
                            <strong>知识点：</strong>
                            <div>
                                <ol>
                                    <li ng-repeat="knowledge in vm.project.knowledges">
                                        <span ng-bind="knowledge.description"></span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div ng-show="vm.tab==2">
                        <div class="tasks" ng-repeat="task in vm.tasks">
                            <div class="task-title" >
                                <strong ng-bind="'任务'+($index+1)+' '+task.title"></strong>
                            </div>
                            <div class="task-content">
                                <div class="col-1-1 tasks-group-item-form margin-top-8 margin-bottom-8  ">
                                    <div class="col-1-1">
                                        <label class=" col-2-12 ">任务描述：</label>
                                        <div class="col-10-10">
                                            <span ng-bind="task.description"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-1-1 tasks-group-item-form margin-top-8 margin-bottom-8  ">-->
                                    <!--<div class="col-1-1">-->
                                        <!--<label class=" col-2-12 ">任务开始时间：</label>-->
                                        <!--<div class="col-10-12">-->
                                            <!--<span>{{vm.dateFormat(task.start_at)}}</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="col-1-1 margin-bottom-8 tasks-group-item-form">
                                    <label class=" col-2-12 ">任务时长：</label>
                                    <div class="col-10-12">
                                        <span ng-bind="task.evaluation_duration"></span>
                                        <span ng-repeat="duration in DURATION_UNITS" ng-if="duration.id==task.evaluation_cycle" ng-bind="duration.title"></span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-teacher col-1-4">
                <div class="teacher-title">
                    指导老师
                </div>
                <div class="item-teacher">
                    <div class="item-pic">
                        <img ng-src="{{vm.user|avatar:'84x84'}}"/>
                    </div>
                    <div class="item-info">
                        <div class="item-name" ng-bind="vm.user.username"></div>
                        <div class="item-info" ng-bind="vm.user.title"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="item-teacher" ng-repeat="teacher in vm.teachers">
                    <div class="item-pic">
                        <img ng-src="{{teacher.user|avatar:'84x84'}}"/>
                    </div>
                    <div class="item-info">
                        <div class="item-name" ng-bind="teacher.user.username"></div>
                        <div class="item-info" ng-bind="teacher.user.title"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

