
<div class="slidershow">
    <div class="sliderbox slider-pic">
        <div class="slideritem">
            <img src="/images/banner-01.jpg" alt=""/>
        </div>
        <div class="slideritem">
            <img src="/images/banner-02.jpg" alt=""/>
        </div>
        <div class="slideritem">
            <img src="/images/banner-03.jpg" alt=""/>
        </div>
    </div>
    <div class="sliderbox slider-text">
        <div class="slideritem">
            <div class="text-box">
                <div class="text-content">
                    <img src="/images/01-1.png" alt=""/>
                </div>
                <div class="text-btn">
                    <span class="btn btn-lg btn-blue" et-modals="RegisterModals">注册会员</span>
                </div>
            </div>
        </div>
        <div class="slideritem">
            <div class="text-box">
                <div class="text-content">
                    <img src="/images/02-1.png" alt=""/>
                </div>
            </div>
        </div>
        <div class="slideritem">
            <div class="text-box">
                <div class="text-content">
                    <img src="/images/03-1.png" alt=""/>
                </div>
            </div>
        </div>
    </div>
    <div class="sliderctrl">
        <span class="ctrl-left ctrl-btn" ng-click="sliderPrev()">
            <i class="pf-arrow-left"></i>
        </span>
        <span class="ctrl-right ctrl-btn" ng-click="sliderNext()">
            <i class="pf-arrow-right"></i>
        </span>
        <div class="ctrl-num">
        </div>
    </div>
</div>