.demos{
  .icons{
    [class^="pf-"], [class*=" pf-"] {
      display:inline-block;
      margin:2px;
      color:#fff;
      -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .5)), to(rgba(255, 255, 255, 1)));
      border-radius:15%;
      &.pf-circle{
        background-color:#735dff;
        padding:1%;
      }
    }
  }

  .icons1{
    [class^="pf-"], [class*=" pf-"] {
      display:inline-block;
      margin:2px;
      -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .5)), to(rgba(255, 255, 255, 1)));
      &.pf-circle{
        color:#009de7;
      }
    }
  }

  .icons2{
    [class^="pf-"], [class*=" pf-"] {
      display:inline-block;
      margin:2px;
      color:#666;
      -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .5)), to(rgba(255, 255, 255, 1)));
    }
  }
  .width-200{
    width:200px;
  }
}