@import "compass/css3";

.toolbar{
  h2{
    font-size:16px;
    line-height:60px;
    padding:0 20px;
    border-bottom:1px solid #e0e0e0;
  }
  ul{
    li{
      position:relative;
      line-height:50px;
      //padding:0 20px 0 20px;
      padding:0 70px 0 20px;
      border-bottom:1px solid #f0f0f0;
      img{
        display:inline-block;
        width:40px;
        height:40px;
        margin-right:6px;
        vertical-align:middle;
        @include border-radius(50%);
      }
      .btn{
        //display:none;
        position:absolute;
        right:12px;
        top:13px;
        line-height:24px;
        font-size:12px;
        padding:0;
        width:66px;
        & > [class^="pf-"]{
          font-size:100%;
        }
      }
      &:hover{
        padding:0 70px 0 20px;
        background:#fffff0;
        .btn{
          display:inline-block;
        }
      }
    }
  }
  .toolbar-more{
    display:block;
    line-height:30px;
    text-align:center;
  }
  .articles{
    a{
      display: block;
      .newspic{
        float: left;
        width: 100px;
        margin-right: 10px;
      }
      .newsblock{
        height: 75px;
      }
      .newstitle{
        height: 40px;
      }
      .authorinfo{
        margin-top: 5px;
        img{
          border-radius:50%;
        }
      }
    }
  }
  .history{
    li{
        position: relative;
        padding: 10px 20px;
        margin-left: 20px;
        border-left: 1px solid #e6e6e6;
      .timeline{
        position: absolute;
        top: 15px;
        left: -5px;
        width: 10px;
        height: 10px;
        border: 2px solid #b6bed5;
        border-radius: 50%;
        background: #fff;
      }
      .timebox{
        border:1px solid #e6e6e6;
        padding: 4px;
      }
    }
  }
}